<!-- # Build outputs and secrets
**/target
keys
**/*.sig
**/*.manifest.sgx

# Large or unrelated directories
mbedtls
ntls-mvp-backend
postman
docs -->

# Ignore everything
**

# Allow only docker build files
!Dockerfile
!build.sh
!restart_aesm.sh
